.bigparent {
    display: grid;
    grid-template-rows: auto 1fr auto;
}
  
  a {
      color: #000;
  }
  a:hover {
    background-color: #aa80ea;
    color: #fff;
  }

  * {
    box-sizing: border-box;
  }
  
  html {
    font-size: 16px;
    font-family: ibm-plex-serif, sans-serif;
    font-weight: 300;
    line-height: 1.25;
  }
  
  .site {
    color: #000;
    background-image: url("assets/bag.jpg");
    background-attachment: fixed;
    background-size: 400px;
  }
  
  .site__header,
  .site__nav-list {
    display: flex;
  }
  
  .site__header {
    position: fixed;
    top: 0;
    left: 1.25rem;
    writing-mode: vertical-rl;
    height: 100%;
    padding: 1.25rem 0;
    z-index: 20; /* to overlap the grid component */
    font-family: 'IBM Plex Mono', monospace;
    font-size: 0.8rem;
    z-index: 15;
  }

  .linky:hover {
    color: #aa80ea;
    background-color: #fff;
  }

  
  .site__header > * {
    flex: 1 1 auto;
    padding-bottom: .625rem;
  }
  
  .site__nav-list {
    justify-content: space-between;
    list-style-type: none;
  }
  
  .site__nav {
    padding-bottom: 0;
  }
  
  .site__nav-link {
    display: block;
    text-decoration: none;
    color: #FFF;
    padding-bottom: .625rem;
  }

  
  .site__nav-list li:last-child .site__nav-link {
    padding-bottom: 0;
  }
  
  .block {
    display: block;
  }
  
  .main {
    display: flex;
    justify-content: center; /* center content horizontally */
    align-items: center; /* center content vertically */
    min-height: 100vh; /* make content as tall as the viewport */
    width: 100%;
  }
  
  .container {
  position: relative;
  max-width: 65rem;
  margin: 0 auto;
  padding: 0 10%;
  }


  
  @media screen and (min-width: 40rem) {
      .heading {
          font-size: 2rem;
          position: absolute;
          left: 0;
          top: 2rem;
          z-index: 10; /* to be on top of grid */
      }
  }

  mark {
    color: #000;
    background: none;
    line-height: 1.35;
    padding: .375rem;
  }
  
  
/* header*/
.headerparent {
  text-align: center;
  position: sticky;
}


.header {
  width: 100%;
  background-color: #000;
  color: #fff;
}


.receipt {
  position: relative;
  z-index: 10;
}

.issue {
  position: absolute;
  top: 40%; 
   left: 170px; 
   width: 40%; 
   z-index: 10;
}

.subtitle {
  position: absolute;
  top: 50%;
  left: 170px;
  width: 100px;
  z-index: 10;
}

@media only all and (max-width: 800px) {
  .issue{
      left: 80px
  }
  .subtitle {
    left: 80px;
  }

}


  /*content*/

  body{
    font-family: 'ibm-plex-mono', mono;
    font-size: 14px;
    color: #2f2f2f;
    background-color: #f9f7f1;
}
header{
    font-family: 'ibm-plex-serif', serif;
    font-weight: 900;
    font-size: 80px;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;


}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
.weatherforcastbox{
    position: relative;
    width: 12%;
    left: 10px;
    border: 3px double #2f2f2f;
    padding: 10px 15px 10px 15px;
    line-height: 20px;
    display: inline-block;
    margin: 0 50px 20px -360px;
}
.content{
    text-align: center;
    font-size: 0;
    line-height: 0;
    word-spacing: -.31em;
    display: inline-block;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}
.collumn{
    font-size: 14px;
    line-height: 20px;
    width: 30%;
    display: inline-block;
    padding: 0 1% 0 1%;
    vertical-align: top;
    margin-bottom: 50px;
    transition: all .7s;
    font-family: ibm-plex-mono;
}
.collumn .headline{
    text-align: center;
    line-height: normal;
    display: block;
    margin: 0 auto;
    font-family: IBM Plex Sans;
}



.collumn .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.collumn .citation{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    /*font-style: italic;*/
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.collumn .citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.collumn .figure {
	  margin: 0 0 20px;
}
.collumn .figcaption{
	font-style: italic;
	font-size: 12px;
}
.media {
    width: 20%;
}
/*________________________________________________________________________________________________________________________________*/
/*MEDIAQUERIES*/
@media only all and (max-width: 1300px) {
    .weatherforcastbox{
        display: none;
    }

}
@media only all and (max-width: 1200px) {
    .collumn{
        width: 31%;
    }

}
    @media only all and (max-width: 900px) {
    .collumn{
        width: 47%;
    }

}
@media only all and (max-width: 600px) {
    .collumn{
        width: 100%;
    }
	.collumn + .collumn {
	}
    header{
        max-width: 320px;
        font-size: 60px;
        line-height: 54px;
        overflow: hidden;
    }

}


  /*ffoott */

  footer {
    text-align: center;
    padding: 5px;
    bottom: 0px;
    z-index: 10;
    margin-top: 0px;
    margin: 30px 2%  2%;
    background-color: #fff;
  }


  /* 
  
  */
  .sticker {
    position: absolute;
    right: 27%;
    width: 500px;
    overflow: hidden;
  }

  @media only all and (max-width: 600px) {
    .sticker {
      width: 300px;
      right: 0px;
    }

}

  .call {
    position: absolute;
    top: 0;
    right: 1.25rem;
    padding: 1.25rem 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2rem;
    z-index: 1;
    text-align: right;
  }

  .decrease {
    position: absolute;
    top: 80%;
    left: 1.25rem;
    padding: 1.25rem 0;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: 800;
    font-style: italic;
    font-size: 2rem;
    z-index: 1;
    width: 200px;
  }
.docontainer {
  background-color: #fff;
  padding: 10px;
  text-align: center;
} 
  @media only screen and (max-width: 500px) {
    .site__header {
      visibility: hidden;
    }
  }
